.root{
    -fx-alignment: CENTER;
    -fx-background: #808080;
}

.button{
    -fx-background-color: #adff2f;
    -fx-background-radius: 6;
    -fx-text-fill: #0000cd;
}

.button:hover{
    -fx-background-color: aquamarine;
}

.textFieldPrompt{
    -fx-prompt-text-fill: gray;
}